<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="src/css/main.css"/>
</head>
<body>

<menu type="toolbar" class="oe-menu">
    <li>
        <button type="menu" value="File" menu="file-menu"></button>
        <menu id="file-menu" type="popup">
            <menuitem label="Load structure…" data-action="load"></menuitem>
            <menuitem label="Save structure…" data-action="save"></menuitem>
        </menu>
        <input type="file" id="oe-file" autocomplete="off"/>
    </li>
    <li>
        <button type="menu" value="Edit" menu="edit-menu"></button>
        <menu id="edit-menu" type="popup">
            <menuitem label="Graph…" data-action="alterGraph"></menuitem>
            <menuitem label="Set parameters…" data-action="setup"></menuitem>
        </menu>
    </li>
    <li>
        <button type="menu" value="Calc" menu="calc-menu"></button>
        <menu id="calc-menu" type="popup">
            <menuitem label="Total energy &amp; total bonds" data-action="calcEnergy"></menuitem>
            <menuitem label="Norm of gradient" data-action="calcGrad"></menuitem>
            <hr/>
            <menuitem label="Evolve…" data-action="evolve"></menuitem>
        </menu>
    </li>
    <li>
        <button type="menu" value="View" menu="view-menu"></button>
        <menu id="view-menu" type="popup">
            <menuitem label="Appearance…" data-action="alterView"></menuitem>
        </menu>
    </li>
</menu>

<form action="#" class="oe-dialog oe-graph-form hidden" autocomplete="off">
    <h2>Graph</h2>
    <div class="oe-cutoffs">
        <script type="text/template" id="oe-cutoffs-tpl">
            <% _.each(pairs, function (pair) { %>
                <button type="button" class="oe-cutoff" data-pair="<%- pair %>">0.0000</button>
            <% }); %>
        </script>
    </div>
    <p>
        <input type="range" class="oe-cutoff-slider" min="0" max="100" step="1" value="0"/>
        <label class="oe-cutoff-min">
            <input type="text" id="oe-cutoff-min" pattern="\d*\.?\d+([eE][+-]?\d+)?" value="0"/>
            Minimum, Å
        </label>
        <label class="oe-cutoff-max">
            <input type="text" id="oe-cutoff-max" pattern="\d*\.?\d+([eE][+-]?\d+)?" value="5"/>
            Maximum, Å
        </label>
        <label class="oe-cutoff-exact">
            <input type="text" id="oe-cutoff-exact" pattern="\d*\.?\d+([eE][+-]?\d+)?" value="0.0000"/>
            Cutoff, Å
        </label>
    </p>
    <p class="oe-dialog-btns">
        <input type="button" class="oe-apply" value="OK"/>
    </p>
</form>

<form action="#" class="oe-dialog oe-potential-form hidden" autocomplete="off">
    <h2>Potential parameters</h2>
    <ul class="oe-potentials">
        <script type="text/template" id="oe-potentials-tpl">
            <li>
                <span>Pair</span>
                <span><var>D<sub>0</sub></var>, eV</span>
                <span><var>R<sub>0</sub></var>, Å</span>
                <span><var>&omega;<sub>0</sub></var>, cm<sup>&minus;1</sup></span>
            </li>
            <% _.each(pairs, function (pair) { %>
                <li class="oe-potential-row" data-pair="<%- pair %>">
                    <label for="oe-<%- pair %>"><%- pair %></label>
                    <label><input type="text" id="oe-<%- pair %>" data-param="D0" pattern="\d*\.?\d+([eE][+-]?\d+)?"/></label>
                    <label><input type="text" data-param="R0" pattern="\d*\.?\d+([eE][+-]?\d+)?"/></label>
                    <label><input type="text" data-param="w0" pattern="\d*\.?\d+([eE][+-]?\d+)?"/></label>
                </li>
            <% }); %>
        </script>
    </ul>
    <p class="potential-filing">
        <label>Load parameters…<input type="file" class="load-potentials" autocomplete="off"/></label> |
        <a href="#" class="save-potentials" download="potentials.txt">Save parameters…</a>
    </p>
    <p class="oe-dialog-btns">
        <input type="button" class="oe-apply" value="OK"/>
        <input type="button" class="oe-discard" value="Cancel"/>
    </p>
</form>

<form action="#" class="oe-dialog oe-evolve-form hidden" autocomplete="off">
    <h2>Evolution configuration</h2>
    <p><label>Step count<br/><input type="number" value="100" id="oe-step-count"/></label></p>
    <p><label>Temperature, K<br/><input type="text" value="298" pattern="\d*\.?\d+([eE][+-]?\d+)?" id="oe-temperature"/></label></p>
    <p><label><input type="checkbox" id="oe-stoch" checked/> Stochastization</label></p>
    <p class="oe-dialog-btns">
        <input type="button" class="oe-apply" value="OK"/>
        <input type="button" class="oe-discard" value="Cancel"/>
    </p>
</form>

<form action="#" class="oe-dialog oe-appearance-form hidden" autocomplete="off">
    <h2>Appearance</h2>
    <p>
        <label><input type="radio" name="appearance" data-appearance="graph" checked/> Graph</label><br/>
        <label><input type="radio" name="appearance" data-appearance="spheres"/> Spheres</label>
    </p>
    <p class="oe-dialog-btns">
        <input type="button" class="oe-apply" value="OK"/>
        <input type="button" class="oe-discard" value="Cancel"/>
    </p>
</form>

<div class="oe-dialog oe-info-dialog hidden">
    <script type="text/template" data-info="energy">
        <h2>Total energy &amp; total bonds</h2>
        <p>Total energy is <var>E</var>&nbsp;=&nbsp;<%= energy.toFixed(5) %>&nbsp;eV</p>
        <p>Bond count is <var>B</var>&nbsp;=&nbsp;<%= bonds %></p>
    </script>
    <script type="text/template" data-info="gradient">
        <h2>Norm of gradient</h2>
        <p>Norm of gradient is ||<b>grad</b> <var>E</var>||&nbsp;=&nbsp;<%= grad.toFixed(5) %>&nbsp;eV/Å</p>
    </script>
    <div class="oe-info-dialog-text"></div>
    <p class="oe-dialog-btns">
        <input type="button" class="oe-discard" value="Close"/>
    </p>
</div>

<p class="oe-acknowledgements">Powered by <a href="http://threejs.org/" rel="nofollow">three.js</a></p>
<div id="oe-view"></div>

<div class="oe-report hidden">
    <p><progress id="oe-report-progress" value="0" max="100"></progress></p>
    <dl id="oe-report-data">
        <script type="text/template" id="oe-report-tpl">
            <dt>Total binding energy:</dt>
            <dd><%= energy.toFixed(5) %>&nbsp;eV</dd>
            <dt>Norm of gradient:</dt>
            <dd><%= grad.toFixed(5) %>&nbsp;eV/Å</dd>
        </script>
    </dl>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r69/three.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="src/js/fallback.js"></script>
<script src="src/js/observer.js?concat=1"></script>
<script src="src/js/utils.js?concat=1"></script>
<script src="src/js/app.js?concat=1"></script>
<script src="src/js/worker.js?concat=1"></script>
<script src="src/js/structure.js?concat=1"></script>
<script src="src/js/file-processing.js?concat=1"></script>
<script src="src/js/view.js?concat=1"></script>
<script src="src/js/interface.js?concat=1"></script>
</body>
</html>