<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="src/css/main.css"/>
</head>
<body>

<menu type="toolbar" class="oe-menu">
    <li>
        <button type="menu" value="File" menu="file-menu"></button>
        <menu id="file-menu" type="popup">
            <menuitem label="Load structure…" data-action="load"></menuitem>
            <menuitem label="Save structure…" data-action="save"></menuitem>
        </menu>
        <input type="file" id="oe-file" autocomplete="off"/>
    </li>
    <li>
        <button type="menu" value="Edit" menu="edit-menu"></button>
        <menu id="edit-menu" type="popup">
            <menuitem label="Set parameters…" data-action="setup"></menuitem>
        </menu>
    </li>
    <li>
        <button type="menu" value="Calc" menu="calc-menu"></button>
        <menu id="calc-menu" type="popup">
            <menuitem label="Total energy &amp; total bonds" data-action="calcEnergy"></menuitem>
        </menu>
    </li>
    <li>
        <button type="menu" value="View" menu="view-menu"></button>
        <menu id="view-menu" type="popup">
            <menuitem label="Appearance…" data-action="alter"></menuitem>
        </menu>
    </li>
</menu>

<form action="#" class="oe-dialog oe-potential-form hidden" autocomplete="off">
    <h2>Potential parameters</h2>
    <ul class="oe-potentials">
        <script type="text/template" id="oe-potentials-tpl">
            <li>
                <span>Pair</span>
                <span><var>D<sub>0</sub></var>, eV</span>
                <span><var>R<sub>0</sub></var>, Å</span>
                <span><var>&omega;<sub>0</sub></var>, cm<sup>&minus;1</sup></span>
            </li>
            <% _.each(pairs, function (pair) { %>
                <li class="oe-potential-row" data-pair="<%- pair %>">
                    <span><label for="oe-<%- pair %>"><%- pair %></label></span>
                    <span><input type="text" id="oe-<%- pair %>" data-param="D0" pattern="\d*\.?\d+([eE][+-]?\d+)?"/></span>
                    <span><input type="text" data-param="R0" pattern="\d*\.?\d+([eE][+-]?\d+)?"/></span>
                    <span><input type="text" data-param="w0" pattern="\d*\.?\d+([eE][+-]?\d+)?"/></span>
                </li>
            <% }); %>
        </script>
    </ul>
    <p class="oe-dialog-btns">
        <input type="button" class="oe-apply" value="OK"/>
        <input type="button" class="oe-discard" value="Cancel"/>
    </p>
</form>

<form action="#" class="oe-dialog oe-appearance-form hidden" autocomplete="off">
    <h2>Appearance</h2>
    <p>
        <label><input type="radio" name="appearance" data-appearance="graph" checked/> Graph</label><br/>
        <label><input type="radio" name="appearance" data-appearance="spheres"/> Spheres</label>
    </p>
    <p class="oe-dialog-btns">
        <input type="button" class="oe-apply" value="OK"/>
        <input type="button" class="oe-discard" value="Cancel"/>
    </p>
</form>

<div class="oe-dialog oe-info-dialog hidden">
    <script type="text/template" data-info="energy">
        <h2>Total energy &amp; total bonds</h2>
        <p>Total energy is <var>E</var>&nbsp;=&nbsp;<%= energy.toFixed(5) %>&nbsp;eV</p>
        <p>Bond count is <var>B</var>&nbsp;=&nbsp;<%= bonds %></p>
    </script>
    <div class="oe-info-dialog-text"></div>
    <p class="oe-dialog-btns">
        <input type="button" class="oe-discard" value="Close"/>
    </p>
</div>

<p class="oe-acknowledgements">Powered by <a href="http://threejs.org/" rel="nofollow">three.js</a></p>
<div id="oe-view"></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r69/three.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script src="src/js/fallback.js"></script>
<script src="src/js/utils.js?concat=1"></script>
<script src="src/js/worker.js?concat=1"></script>
<script src="src/js/file-processing.js?concat=1"></script>
<script src="src/js/view.js?concat=1"></script>
<script src="src/js/structure.js?concat=1"></script>
<script src="src/js/interface.js?concat=1"></script>
</body>
</html>