<li>
    <span>Pair</span>
    <span><var>D<sub>0</sub></var>, eV</span>
    <span><var>R<sub>0</sub></var>, Å</span>
    <span><var>&omega;<sub>0</sub></var>, cm<sup>&minus;1</sup></span>
</li>
<% _.each(pairs, function (pair) { %>
    <li class="oe-potential-row" data-pair="<%- pair %>">
        <label for="oe-<%- pair %>"><%- pair %></label>
        <label><input type="text" id="oe-<%- pair %>" data-param="D0" pattern="\d*\.?\d+([eE][+-]?\d+)?"/></label>
        <label><input type="text" data-param="R0" pattern="\d*\.?\d+([eE][+-]?\d+)?"/></label>
        <label><input type="text" data-param="w0" pattern="\d*\.?\d+([eE][+-]?\d+)?"/></label>
    </li>
<% }); %>
