@import (reference) "ui";

a {
    color:#0c0;
    &:hover {
        text-decoration:none;
    }
}
.oe-acknowledgements {
    color:#dadada;
    font:unit((12px / @root-font-size), em) @base-font-family;
    margin:3px 0 0 3px;
    position:absolute;
    z-index:1;
}
#oe-view canvas {
    height:500px;
    width:600px;
}